.download__header {
    background: $color__theme-gradient;
    color: white;
    padding: 4rem 1rem;

    a:not(.cta) {
        color: white;

        &:hover, &:active {
            color: #E9E9E9;
        }
    }

    .cta--primary {
        @include font-size(1.25);
    }
}

.download__header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    max-width: $size__container-small;
}

.download__icon {
    @include font-size(10);
    text-align: right;
}

.download__content {
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: $size__container-medium;

    h1{
        margin-top: 2rem;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.download__others {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
