.download__header {
    align-items: center;
    background: $color__theme-gradient;
    color: white;
    display: flex;
    padding: 4rem 1rem;

    @include breakpoint(large) {
        height: 45vh;
        padding: 0;
    }

    a:not(.cta) {
        color: white;

        &:hover, &:active {
            color: #E9E9E9;
        }
    }

    .cta--primary-ver {
        @include breakpoint(small, only) {
            @include font-size(0.9);
        }
    }
}

.download__header-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: $size__container-small;
    text-align: center;

    @include breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        text-align: left;
    }
}

.download__icon {
    display: none;

    @include breakpoint(large) {
        display: block;
        @include font-size(10);
        text-align: right;
    }
}

.single-download__content {
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: $size__container-medium;

    h1{
        margin-top: 2rem;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.single-download__others {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
    }
}
