html {
	box-sizing: border-box;
}

body {
	/* Background pattern from Toptal Subtle Patterns */
	background: url('assets/img/elements/background.jpg') $color__background-body;
}

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.text-box {
	background-color: rgba(black, 0.5);
	border-radius: 4px;
	color: white;
    padding: 0.5rem 2rem;

    a {
        color: white;

        &:hover, &:active {
            color: #E9E9E9;
        }
    }
}

.block {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 1rem;

    @include breakpoint(medium) {
        padding: 1rem 2rem;
    }

    + .block {
        margin-top: 2rem;
    }
}

.block--info {
    background-color: $color__theme-blue;
    color: white;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 9fr;

    @include breakpoint(medium) {
        align-items: center;
        grid-gap: 2rem;
    }

    .block__icon {
        @include breakpoint(large) {
            padding: 0.5rem;
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    .block__content {
        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    pre {
        background: lighten($color__theme-blue, 5%);

        @include breakpoint(medium) {
            @include font-size(1);
        }
    }
}

.block--warning {
    background-color: $color__theme-red;
}
