html {
	box-sizing: border-box;
}

body {
	/* Background pattern from Toptal Subtle Patterns */
	background: url('assets/img/elements/background.jpg') $color__background-body;
}

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur($background__blur-strength);
	height: 100%;
	position: absolute;
	transform: scale(1.1);
	width: 100%;
	z-index: -1;
}

.text-box {
	background-color: rgba(black, 0.5);
	border-radius: 4px;
	color: white;
	padding: 0.5rem 2rem;
}
