a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover, &:focus, &:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover, &:active {
		outline: 0;
	}
}

.cta {
	border: 2px solid transparent;
	border-radius: 3px;
	display: inline-block;
	font-weight: 100;
    padding: 0.75rem 2rem;
	text-decoration: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.cta--primary {
	@extend .cta;
	background-color: $color__cta;
	border: 2px solid $color__cta;
	color: #fff;

	&:hover, &:active, &:focus {
		background: $color__cta-hover;
		border-color: $color__cta-hover;
		color: #fff;
	}
}

.cta--secondary {
	@extend .cta;
	border-color: $color__cta;
	color: $color__cta;

	&:hover, &:active, &:focus {
		background: $color__cta-hover;
		border-color: $color__cta-hover;
		color: #fff;
	}
}

.cta--action {
	@extend .cta;
	border-bottom-color: $color__text-main;
	color: $color__text-main;

	&:hover, &:active, &:focus {
		border-bottom-color: $color__cta-hover;
		box-shadow: none;
		color: $color__text-main;

		&:after {
			padding-left: 12px;
		}
	}

	&:after {
		content: '';
		font-family: FontAwesome;
		padding-left: 8px;
		transition: 0.1s padding-left linear;
	}
}
