a {
	color: $color__link;

	&:hover, &:focus, &:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover, &:active {
		outline: 0;
	}
}

.cta {
	border-radius: $cta__border-radius;
	display: inline-block;
	padding: 1rem 1.5rem;
	text-decoration: none;

	&:hover, &:active, &:focus {
		background-color: $cta__color-hover;
        color: #fff;
        outline: none;
	}

	svg {
		margin-right: 0.25rem;
	}
}

.cta--primary {
	@include transition-color-slide($cta__color, $cta__color-hover);
	color: #fff;
	padding: calc(1rem + #{$cta__border-size}) calc(1.5rem + #{$cta__border-size});
}

.cta--primary-ver {
    background-color: darken($cta__color, 5%) !important;
    color: #fff;
    padding: 0;

	&:hover, &:active, &:focus {
        .cta-text {
            background-position: 0 100%;
        }
	}

    span {
        display: inline-block;
        padding: 1rem;
    }

    .cta-ver {
        font-weight: bold;
    }

    .cta-text {
        @include background-duotone($cta__color, $cta__color-hover);
        background-size: 100% 200%;
        transition: all $anim__hover-duration $anim__function-easein;
    }
}

.cta--secondary {
	@include transition-color-slide(transparent, $cta__color-hover);
	border: $cta__border-size solid $cta__color;
	color: $cta__color;

	&:hover, &:active, &:focus {
		border-color: $cta__color-hover;
	}
}

.cta--action {
	background-color: transparent !important;
	border-bottom: 3px solid $color__theme-blue;
	font-weight: bold;
	color: $color__mid;
	padding: 0.3rem 0.75rem;
	transition: all $anim__hover-duration $anim__function-easein;

	&:hover, &:active, &:focus {
		box-shadow: none;
		border-color:  lighten($color__theme-blue, 10%);
		color: $color__mid;

		&:after {
			padding-left: 16px;
		}
	}

	&:after {
		content: '';
		font-family: FontAwesome;
		padding-left: 10px;
		transition: 0.1s padding-left linear;
	}
}
