a {
	color: $color__link;

	&:hover, &:focus, &:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover, &:active {
		outline: 0;
	}
}

.cta {
	border-radius: $cta__border-radius;
	display: inline-block;
	@include font-size(1.1);
	padding: 1rem 1.5rem;
	text-decoration: none;

	&:hover, &:active, &:focus {
		background-color: $cta__color-hover;
		color: #fff;
	}

	svg {
		margin-right: 0.25rem;
	}
}

.cta--primary {
	@extend .cta;
	@include transition-color-slide($cta__color, $cta__color-hover);
	color: #fff;
	padding: calc(1rem + #{$cta__border-size}) calc(1.5rem + #{$cta__border-size});
}

.cta--secondary {
	@extend .cta;
	@include transition-color-slide(transparent, $cta__color-hover);
	border: $cta__border-size solid $cta__color;
	color: $cta__color;

	&:hover, &:active, &:focus {
		border-color: $cta__color-hover;
	}
}

.cta--action {
	@extend .cta;
	background-color: transparent !important;
	border-bottom: 3px solid $color__theme-blue;
	font-weight: bold;
	color: $color__mid;
	padding: 0.3rem 0.75rem;
	transition: all $anim__duration-hover $anim__function-easein;

	&:hover, &:active, &:focus {
		box-shadow: none;
		border-color:  lighten($color__theme-blue, 10%);
		color: $color__mid;

		&:after {
			padding-left: 16px;
		}
	}

	&:after {
		content: '';
		font-family: FontAwesome;
		padding-left: 10px;
		transition: 0.1s padding-left linear;
	}
}
