/**
 * Colors
 */

// Theme color pallette
$color__primary: #735CDD;
$color__secondary: #FF3E41;
$color__mid: #323031;
$color__dark: #222;

// Background colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: $color__dark;

// Text colors
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

// Button colors
$color__cta: $color__primary;
$color__cta-hover: lighten($color__primary, 5%);
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


/**
 * Typography
 */
 $font__main: 'Roboto', sans-serif;
 $font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
 $font__pre: "Courier 10 Pitch", Courier, monospace;
 $font__line-height-body: 1.5;
 $font__line-height-pre: 1.6;


/**
 * Layout
 */
 $size__site-main: 100%;
 $size__site-sidebar: 25%;
 $size__header-height: 60px;

 $columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;

// Predefined breakpoints for Media Query mixin
$breakpoints: (
	small: (
		min: 0px,
		max: 639px),
	medium: (
		min: 640px,
		max: 1023px),
	large: (
		min: 1024px,
		max: 1199px),
	xlarge: (
		min: 1200px,
		max: 1339px),
	xxlarge: (
		min: 1440px)
);
