section.blog-posts {
    overflow: unset;
}

.blog-section-header {
    text-align: center;

    h2 {
        margin-top: 0;
    }

    @include breakpoint(small, only) {
        .blog-posts__more {
            display: none;
        }
    }

    @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
    }
}

.article__container {
    display: grid;
    grid-gap: 1.5rem;

    @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.article {
    background: #fff;
    border-bottom: 3px solid $color__theme-blue;
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform $anim__duration-hover $anim__function-easein,
                border-color $anim__duration-hover $anim__function-easein;

    &:hover,
    &:active,
    &:focus {
        border-color: lighten($color__theme-blue, 10%);
        transform: scale(1.05);
    }

    a {
        border: none;
        height: 100%;
        text-decoration: none;
        width: 100%;
    }
}

.article__info {
    color: $color__text-main;
    padding: 1.5rem 2rem;
    max-height: 100%;
    text-decoration: none;

    .date {
        color: $color__theme-blue;
        @include font-size(0.95);
        text-transform: uppercase;
    }

    .title {
        color: $color__mid;
        font-weight: normal;
        line-height: 1.2;
        margin: 0;
        text-transform: unset;
    }
}

.article__image {
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

.blog-posts__more {
    text-align: center;

    @include breakpoint(medium) {
        text-align: right;
    }
}
