.call-to-action-alt {
    align-items: center;
    margin: 0 !important;
}

.call-to-action-alt__wrap {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    max-width: $size__container-large;
    margin: 0 auto;
    padding: 4rem 1rem;
    text-align: center;

    @include breakpoint(large) {
        grid-gap: 2rem;
        grid-template-columns: 3fr 2fr;
        height: $size__hero-height;
        padding: 0;
    }

    @include breakpoint(xlarge) {
        grid-template-columns: 4fr 2fr;
    }
}

.call-to-action-alt__text {
    margin-bottom: 1rem;

    @include breakpoint(large) {
        margin-bottom: 0;
        text-align: left;
    }

    h1 {
        margin: 0;
    }
}

.call-to-action-alt__buttons {

    @include breakpoint(large) {
        align-self: center;
        text-align: right;
    }

    .cta {
        @include font-size(1);

        @include breakpoint(large) {
            @include font-size(1.5);
        }

        &:not(:first-of-type) {
            @include breakpoint(medium) {
                margin-left: 3rem;
            }
        }
    }
}
