.call-to-action {
    align-items: center;
    background-color: darken($color__theme-purple, 5%);
    background-image: $color__theme-gradient;
    margin: 0 !important;

    @include breakpoint(medium down) {
        text-align: center;
    }
}

.call-to-action__container {
    display: grid;
    grid-template-areas: 'icon'
                         'text';
    max-width: $size__container-medium;
    margin: 0 auto;
    padding: 3rem 1rem;
    text-align: center;

    @include breakpoint(large) {
        align-items: center;
        grid-template-areas: 'text icon';
        grid-template-columns: 3fr 1fr;
        padding: 3rem 1rem;
        text-align: left;
    }
}

.call-to-action__text {
    color: #fff;
    grid-area: text;

    h2 {
        margin: 0;
    }
}

.call-to-action__buttons {
    a {
        @include breakpoint(small only) {
            display: block;
        }
    }

    .cta {
        &:not(:first-of-type) {
            @include breakpoint(medium) {
                margin-left: 1.5rem;
            }
        }
    }

    .cta--primary {
        @include background-duotone($cta__color-alt, $cta__color-alt-hover);

        &:hover,
        &:active,
        &:focus {
            background-color: $cta__color-alt-hover;
        }
    }

    .cta--secondary {
        border-color: #fff;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            border-color: $cta__color-alt-hover;
        }
    }
}

.call-to-action__icon {
    display: none;

    @include breakpoint(large) {
        color: #fff;
        display: block;
        @include font-size(10);
        grid-area: icon;
        text-align: right;
    }
}
