.call-to-action-alt {
    align-items: center;

    @include breakpoint(medium down) {
        text-align: center;
    }
}

.call-to-action-alt__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}

.call-to-action-alt__text {
    margin-bottom: 1rem;
    text-align: left;

    @include breakpoint(medium) {
        margin-bottom: 2rem;
    }

    @include breakpoint(large) {
        margin-bottom: 0;
    }

    h1 {
        margin: 0;
    }

    p.subheader {
        @include font-size(1.25);
        font-weight: 300;
    }
}

.call-to-action-alt__buttons {
    margin-top: 3rem;

    .cta {
        @include font-size(1.6);

        @include breakpoint(small only) {
            display: block;
        }

        &:not(:first-of-type) {
            @include breakpoint(medium) {
                margin-left: 3rem;
            }
        }
    }
}
