.call-to-action {
    align-items: center;
    background-color: darken($color__theme-purple, 5%);
    background-image: linear-gradient(90deg, darken($color__theme-purple, 5%), lighten($color__theme-purple, 20%));

    @include breakpoint(medium down) {
        text-align: center;
    }
}

.call-to-action__container {
    display: grid;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;

    @include breakpoint(large) {
        align-items: center;
        grid-template-columns: 3fr 1fr;
        padding: 3rem 0;
        text-align: left;
    }
}

.call-to-action__text {
    color: #fff;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
        margin-bottom: 2rem;
    }

    @include breakpoint(large) {
        margin-bottom: 0;
    }

    h1 {
        margin: 0;
    }

    p.subheader {
        @include font-size(1.25);
        font-weight: 300;
    }
}

.call-to-action__buttons {
    a {
        @include breakpoint(small only) {
            display: block;
        }
    }

    .cta {
        &:not(:first-of-type) {
            @include breakpoint(medium) {
                margin-left: 1.5rem;
            }
        }
    }

    .cta--primary {
        @include background-duotone($cta__color-alt, $cta__color-alt-hover);

        &:hover,
        &:active,
        &:focus {
            background-color: $cta__color-alt-hover;
        }
    }

    .cta--secondary {
        border-color: #fff;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            border-color: $cta__color-alt-hover;
        }
    }
}

.call-to-action__icon {
    color: #fff;
    text-align: right;
}
