.call-to-action-alt {
    align-items: center;
}

.call-to-action-alt__container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 70rem;
    margin: 0 auto;
    padding: $size__component-padding;
    text-align: center;

    @include breakpoint(large) {
        grid-gap: 4rem;
        grid-template-columns: 3fr 1fr;
    }
}

.call-to-action-alt__text {
    margin-bottom: 1rem;

    @include breakpoint(large) {
        margin-bottom: 0;
        text-align: left;
    }

    h1 {
        margin: 0;
    }
}

.call-to-action-alt__buttons {

    @include breakpoint(large) {
        align-self: center;
        text-align: right;
    }

    .cta {
        @include font-size(1.6);

        @include breakpoint(small only) {
            display: block;
        }

        &:not(:first-of-type) {
            @include breakpoint(medium) {
                margin-left: 3rem;
            }
        }
    }
}
