.choices {
    align-items: center;
    background-color: darken($color__theme-purple, 5%);
    background-image: $color__theme-gradient;
    margin: 0 !important;

    @include breakpoint(medium down) {
        text-align: center;
    }
}

.choices__container {
    max-width: $size__container-medium;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
}

.choices__text {
    color: #fff;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
        margin-bottom: 2rem;
    }

    @include breakpoint(large) {
        margin-bottom: 0;
    }

    h1, h2 {
        margin: 0;
    }
}

.choices__buttons {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin: 3rem auto 0;
    max-width: 90%;

    @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint(large) {
        max-width: 60%;
    }

    a {
        padding: 1rem;
        width: 100%;

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    .cta--secondary {
        @include background-duotone(transparent, $cta__color);
        border-color: #fff;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            border-color: $cta__color;
        }
    }
}
