.page-template-flexible-content-page {
	section {
        margin: $size__component-padding;
        padding-left: 1rem;
        padding-right: 1rem;
	}
}

.hero + .call-to-action {
    margin-top: 0;
}

section:last-child {
    &.call-to-action, &.choices {
        margin-bottom: 0;
    }
}
