.page-template-flexible-content-page {
    section {
        margin: $size__component-padding;
        overflow: hidden;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;

        @include breakpoint(large) {
            margin: $size__component-padding-large;
        }
    }
}
