section.hero {
    display: flex;
    height: auto;
    margin: 0 !important;

    @include breakpoint(large) {
        height: $size__hero-height;
    }
}

.hero__wrap {
    align-self: center;
    padding: 4rem 1rem;
    width: 100%;

    @include breakpoint(large) {
        padding: 0;
    }
}

.hero__content {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;

    h1 {
        @include font-size(1.75);
        font-weight: 100;
        padding: 0.5rem;
        text-transform: uppercase;

        @include breakpoint(medium) {
            @include font-size(2.5);
        }

        @include breakpoint(large) {
            @include font-size(4);
        }
    }
}

.hero__calltoaction {
    margin-top: 2rem;
    text-align: center;
    width: 100%;

    @include breakpoint(medium) {
        margin-top: 3rem;
    }

    .cta {
        color: #fff;
        @include font-size(1);
        margin: 1rem 2rem 0;

        @include breakpoint(large) {
            @include font-size(1.5);
            margin: 0;
        }

        &:hover, &:active, &:focus {
            outline: none;
        }
    }

    .cta--secondary {
        background-color: rgba(#000, 0.15);
        border-color: #fff;

        @include breakpoint(medium) {
            margin-left: 1.0rem;
        }

        &:hover, &:active, &:focus {
            background-color: rgba(#000, 0.1);
            border-color: $cta__color-hover;
        }
    }
}
