section.hero {
    margin: 0;
}

.hero__wrap {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 60vh;
    max-height: 50rem;
    min-height: 30rem;

    @include breakpoint(large) {
        height: 75vh;
    }
}

.hero__content {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;

    h1 {
        background: rgba(#000, 0.5);
        border-radius: 4px;
        color: #fff;
        @include font-size(2.5);
        font-weight: 100;
        padding: 0.5rem;
        text-transform: uppercase;

        @include breakpoint(medium) {
            @include font-size(3);
        }

        @include breakpoint(large) {
            @include font-size(4);
        }
    }

    .subheader {
        color: #ccc;
        font-size: 1.25rem;

        @include breakpoint(medium) {
            font-size: 1.6rem;
        }
    }
}

.hero__calltoaction {
    margin-top: 2rem;
    text-align: center;
    width: 100%;

    @include breakpoint(medium) {
        margin-top: 3rem;
    }

    .cta {
        color: #fff;
        @include font-size(1.6);

        @include breakpoint(small, only) {
            display: block;
            @include font-size(1.1);
            margin: 1rem 2rem 0;
            padding: 0.75rem;
        }

        &:hover, &:active, &:focus {
            outline: none;
        }
    }

    .cta--secondary {
        background-color: rgba(#000, 0.15);
        border-color: #fff;

        @include breakpoint(medium) {
            margin-left: 1.0rem;
        }

        &:hover, &:active, &:focus {
            background-color: rgba(#000, 0.1);
            border-color: $cta__color-hover;
        }
    }
}
