.info-block {
    align-items: center;
    margin: 0 !important;
    overflow: hidden;
    position: relative;
}

.info-block__wrap {
    align-items: center;
    display: grid;
    grid-template-areas: 'text-box';
    grid-template-columns: 1fr;
    height: auto;
    max-width: $size__container-large;
    margin: 0 auto;
    padding: 4rem 1rem;
    text-align: center;

    @include breakpoint(large) {
        height: $size__hero-height;
        padding: 0;
    }
}

@include breakpoint(large) {
    .info-block__wrap--left {
        grid-template-areas: 'text-box none';
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .info-block__wrap--center {
        max-width: 50rem;
    }

    .info-block__wrap--right {
        grid-template-areas: 'none text-box';
        grid-template-columns: 1fr 1fr;
        text-align: right;
    }
}

.info-block__text {
    grid-area: text-box;
    margin: 1rem 0;

    @include breakpoint(large) {
        margin: 0;
    }

    h1 {
        margin: 0;
    }
}
