#footer {
    background: $color__background-header;
    color: #fff;
    font-weight: 100;
    margin: $size__component-padding;
    margin-bottom: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
