#footer {
    background: $color__background-header;
    border-top: 5px solid;
    border-color: $color__theme-purple;
    border-image: $color__theme-gradient 30;
    color: #fff;
    width: 100%;

    .wrap {
        max-width: $size__container-large;
    }
}

.footer__navigation {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0 0;
    text-align: center;

    @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
        padding: 3rem 0 4rem;
        text-align: left;
    }

    @include breakpoint(large) {
        grid-template-columns: repeat(3, 2fr) 3fr;
        padding: 4rem 0 5rem;
    }

    > div {
        padding: 1.5rem 0;

        @include breakpoint(large) {
            padding: 0;
        }
    }

    h2 {
        margin: 0 0 0.5rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        a {
            color: #fff;
            text-decoration: none;

            &:hover, &:active, &:focus {
                text-decoration: underline;
            }
        }
    }
}

.footer__social {
    text-align: left;
    margin-top: 1.5rem;

    @include breakpoint(medium) {
        margin-top: 0;
    }

    > a {
        color: $color__light;
        display: inline-block;
        margin-top: 0.5rem;
        transition: color 0.2s $anim__function-easein;

        &:first-of-type svg {
            margin-left: -0.5rem;
        }

        &:hover, &:active, &:focus {
            color: #fff;
            outline: none;

            svg {
                padding: 0.25rem;
            }
        }

        svg {
            padding: 0.5rem;
            transition: padding 0.2s $anim__function-easein;
        }
    }
}

.footer__textblock {
    font-weight: 300;

    svg {
        color: lighten($color__theme-purple, 20%);
        float: left;
        margin: 0.25rem 2rem 0 0;

        @include breakpoint(medium, only) {
            margin: 0.25rem 0.25rem 0 0;
            padding: 0.75rem;
        }
    }

    a {
        color: #fff;
        font-weight: normal;

        &:hover, &:focus, &:active {
            color: $color__light;
        }
    }
}

.footer__copyright {
    font-weight: 100;
    padding: 1rem;
    text-align: center;
}
