#header {
    background: $color__background-header;
    height: $size__header-height;

    .header-container {
        height: 100%;
        margin: auto;
        max-width: 1440px;
    }

    .site-branding {
        display: inline-block;
        height: 100%;

        a {
            height: 100%;
            @include transition-color-slide(transparent, darken($color__background-header, 5%));
        }

        img {
            max-height: 100%;
            max-width: none;
            padding: 0.5rem;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            width: auto;
        }
    }

    button {
        border: none;
        color: white;
        cursor: pointer;
        @include font-size(1.5);
        height: 100%;
        outline: none;
        padding: 0 1rem;
        @include transition-color-slide(transparent, darken($color__background-header, 5%));
    }
}
