#header {
    background: $color__background-header;
    height: $size__header-height;

    .header-container {
        height: 100%;
        margin: auto;
        max-width: 1440px;
    }

    .site-branding {
        display: inline-block;
        height: 100%;

        a {
            height: 100%;

            &:hover, &:active, &:focus {
                background-color: darken($color__background-header, 5%);
            }
        }

        img {
            max-height: 100%;
            max-width: none;
            padding: 0.5rem;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            width: auto;
        }
    }
}

#footer {
    background: $color__background-header;
    color: #fff;
    font-weight: 100;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
